body {
    color: white;
}
.gradient-text {
    background: linear-gradient(to bottom, #49b6e7, #036cad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.backgroung-gradient {
    background: linear-gradient(to right, #49b6e7, #036cad);
    /* border-radius: 35%; */
}
header h1 {
    font-size: 600%;
}
header p {
    font-size: 175%;
}
header h3 {
    font-size: 300%;
}
.second-section-header {
    font-size: 600%;
}
.second-section-p {
    font-size: 175%;
}
.third_section_header {
    font-size: 600%;
}
.third_section_p {
    font-size: 175%;
}
.fourth_section_header {
    font-size: 600%;
}
.fourth_section_p {
    font-size: 150%;
}
.five_section_header {
    font-size: 600%;
}
.five_section_p {
    font-size: 160%;
}