.custom-navbar {
  background-color: #113b60; /* Задний фон */
  border-bottom: 4px solid #0e83d7; /* Синяя полоса */
}


.custom-navbar .navbar-brand.logo img {
  height: 95px;
  width: auto;
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 1rem;
  color: var(--bs-secondary-color);
  transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover,
.custom-navbar .navbar-nav .nav-link.active {
  color: #0e83d7;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
  .custom-navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .custom-navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .custom-navbar .navbar-brand.logo img {
    height: 70px; /* Изменение размера логотипа на малых экранах */
  }
}
