/* Основные стили страницы */
:root {
  --bs-body-bg: None;
  --bs-secondary-color: #ecf7fd;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.custom-container {
  width: 100%;
  max-width: 1720px;
}

.faq_item {
  min-height: 100px;
  border-top: 1.62px solid #1d76d6;
  border-bottom: 1.62px solid #1d76d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.faq_button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  cursor: pointer;
}

.faq_button .toggle-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.faq_button:focus {
  outline: none;
}

.collapse {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.collapse p {
  margin: 0;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
